/* app.css */

.section-list3 {
  text-align: center;
  background-color: #80A749;
  padding: 20px 20px;
}

.App-weather {
  color: #80A749;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 90%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-weather{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px 0px #698A3B;
  padding: 20px;
}

.ul-card-weather {
  border-radius: 8px;
  background-color: white;
  border: 0;
  list-style: none;
  padding: 0;
  /* display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr); */
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 8px;
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
}

.li-card-weather:hover {
  background-color: #698A3B;
  color: white;
}

.button-weather {
  padding: 8px 16px;
  background-color: #80A749;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.button-weather:hover {
  background-color: #698A3B;
  color: white;

}

button:active {
  transform: translateY(1px);
}

.city-weather{
  margin: 20px;
  font-size: large;
}

.city-select{
  border-color: #698A3B;
  border-radius: 15px;
  font-size: large;
}
