h1 {
    font-family: "Arial", sans-serif;
    color: #333; 
    text-align: center;
    margin-bottom: 20px; 
}
  
form {
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(121, 25, 25, 0.1); 
    background-color: rgba(93, 173, 226, 0.30)
}
  
input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}
  
button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}
  
button:hover {
    background-color: #45a049; 
}