/* app.css */

.section-list2 {
  text-align: center;
  background-color: #9c67a8;
  padding: 20px 20px;
}

.App-albums {
  color: #513557;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 90%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-albums {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.ul-card-albums {
  border-radius: 8px;
  background-color: white;
  border: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.li-card-albums {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 8px;
  background-color: #9c67a8;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 12px 1px #9c67a8;
  font-size: larger;
}

.li-card-albums:hover {
  background-color: #764e7f;
  color: white;
}

.button-albums {
  padding: 8px 16px;
  background-color: #9c67a8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-albums:hover {
  background-color: #764e7f;
  color: white;
}

button:active {
  transform: translateY(1px);
}
