/* app.css */
.section-list{
  text-align: center;
  background-color: #5a7480;
  padding: 20px 20px;
}

.App {
  color: #5a7480;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 90%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  text-align: center;
  background-color:  white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.ul-card {
  border: 0;
  text-align: center;
  padding: 0;
  width: auto;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

button {
  padding: 8px 16px;
  background-color: #5a7480;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3C5665;
}

button:active {
  transform: translateY(1px);
}

.individual{
  margin:auto;
  width: 75%;
  height: 70%;
  border-radius: 14%;
  color: #29343d;
  background-color: #5a7480;
  box-shadow: 0px 0px 10px 1px #5a7480;
}

.individual:hover{
  background-color: #3C5665;
  color: white;
}